
Assets/MenuLevel.unity

Library/metadata/7d/7d264542cefe14e1ea834831ef1e4027

Library/metadata/7d/7d264542cefe14e1ea834831ef1e4027

Library/metadata/ca/cadc83b7ef5a24fc2969e542009cd631

Library/metadata/ca/cadc83b7ef5a24fc2969e542009cd631.info

Library/metadata/7d/7d264542cefe14e1ea834831ef1e4027

Assets/Icon.meta

Assets/Prefabs.meta

Assets/Prefabs/Icon.meta

Assets/Scripts/Icon.meta

Assets/MenuLevelStuff.meta

game_demo.userprefs

*.info

*.info

Library/metadata/18/18f800d8f77a84cca90729e7bd8116b3

Library/metadata/6e/6e18a022c8e3d4f09974f02bf29a9d8b

Library/metadata/00/00000000000000004000000000000000

Library/metadata/00/00000000000000004000000000000000

Library/metadata/00/00000000000000004000000000000000

Library/metadata/00/00000000000000004000000000000000
# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.csproj
